
body {
	background-color:#808080;
}

.wrapper {
	height: 500px;
	width: 375px;

	margin: 0 auto;
	padding: 25px;

	background-color: white;
	font-family: sans-serif;
}

.needed_funds {
	height: 65px;
	
	background-color: #474748;
	border-radius: 5px;

	position: relative !important;

	color:white;
	font-size: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.needed_funds:after { /* The little triangle under the dialog box*/
	content: "";
	position: absolute;
	top:100%;
	left: 75%; /* min: 1% || max: 93%*/
	width: 0;
	height: 0;
	border-top: solid 10px #474748;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
}

.progress_bar {
	height: 15px;

	margin-top: 20px;
	background-color: rgb(242, 242, 242);

	border-width: 1px;
	border-bottom-width: 0px;
	border-style: solid;
	border-color: #c5c5c5;
}

#fill-progress-bar{
	height: 15px;
	width: 1%;

	background-color: #ed6139;
}

.main_element {
	padding: 25px;

	border-width: 1.5px;
	border-style: solid;
	border-color: #c5c5c5;

	line-height: 25px;
	color:rgb(104, 104, 104);

	box-shadow: 0 3px 0px 0px #e2e2e2;
}

#time-remaining-text{
	color: #ed6139;
	font-weight: 600;
}

.fund_description {
	margin-top: 20px;
	margin-bottom: 20px;
}

.text_number_participants {
	font-weight: 600;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.donation-row {
	height: 60px;

	display: flex;
	justify-content: space-between;

	margin-top:10px;
}

#money-input, .donate {
	align-self: center;
	vertical-align: middle;
}

#money-input {
	height: 90%;
	width: 45%;

	box-shadow: inset 0 2px 0px #eeeeee, 0 -1px 1px #FFF, 0 1px 0 #FFF;

	margin-right: 20px;
	border-width: 1.5px;
	border-color: #c5c5c5;
	border-style: solid;
	border-radius: 5px;
}

.donate {
	width: 45%;
	height: inherit;

	background-color: #02b51c;
	color: white;

	font-size: 120%;

	border-style: solid;
	border-width: 0px;
	border-width: 2px;
	border-top-width: 0px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-color: #009e18;
	border-radius: 5px;
}

.donate:active {
	background-color: #007c13;
	-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
	-moz-box-shadow: inset 0px 0px 5px #c1c1c1;
		 box-shadow: inset 0px 0px 5px #c1c1c1;
	
	border-style: inset;
}

.why-donate {
	color: rgb(0, 140, 255);
	margin-top: 10px;
	font-size: 90%;
	font-style: italic;
}

.why-donate-link {
	color:inherit;
	text-decoration:none;
}

.buttons-row {
	display: flex;
	justify-content: space-between;
}

.save,.share {
	height: 45px;
	width: 47%;

	margin-top: 20px;

	background-color: rgb(247, 247, 247);

	border-width: 1px;
	border-bottom-width: 2px;
	border-style: solid;
	border-radius: 5px;
}

.share:active,.save:active {
	background-color: rgb(204, 204, 204);
	-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
	-moz-box-shadow: inset 0px 0px 5px #c1c1c1;
		 box-shadow: inset 0px 0px 5px #c1c1c1;

	border-style: inset;
}