
<<<<<<< HEAD
body {
	height: 100vh;
	width: 100vw;
	background-color:#808080;
}

.wrapper {
	height: 55%;
	width: 35%;

	margin: 0 auto;
	padding: 25px;

	background-color: white;
}

.needed_funds {
	height: 65px;
	
	background-color: #474748;
	border-radius: 5px;
	
	color:white;
	font-size: 115%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress_bar {
	height: 15px;

	margin-top: 20px;
	background-color: rgb(242, 242, 242);

	border-width: 1px;
	border-top-width: 0px;
	border-style: solid;
	border-color: #c5c5c5;
}

.fill_progress_bar {
	height: 15px;
	width: 75%;

	background-color: #ed6139;
}

.main_element {
	


	padding-bottom: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;

	border-width: 1.5px;
	border-style: solid;
	border-color: #c5c5c5;
}

.button_row {
	align-items: center;
}

.share, .save {
	margin-top: 15px;

	color:#777676;
	background-color:#efefee;
=======


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

body {
	max-width: 500px;
	margin: auto;
}

.remaining_funds {
	border-width: 0px;
	background-color: #474748;
	color:white;

	font-family: sans-serif;
	font-weight: 500;

	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 35px;
	padding-right:35px;

}

.progress_bar {
	color: #ed6139;
}

.main_element {
	border:5px,black;
	padding: 20px;
}

.money_input {
	border-radius: 1px;
}

.description_link:link, .description_link:visited {
	text-decoration: none;
	font-family: sans-serif;
	color: #1f9ece;
}


.donate_button {
	background-color: #02b51c;
	color:white;

	border-radius: 2.5px;
	border-width: 0px;
	
	font-family: sans-serif;
	font-weight: 700;
	font-size: large;

	padding-top: 12px;
	padding-bottom: 12px;
	padding-left:22px;
	padding-right:22px;
}

.donation {
	align-items: end;
	margin-top: 20px;
	margin-bottom: 15px;

}

.save {
	margin-right: 15px;
}

.share, .save {
	margin-top: 20px;
>>>>>>> 7786468ffbf4dba2f07670ac4c921f5e6fafaac2

	color:#777777;
	background-color:#fafafa;
	
	font-weight: 700;
	font-size: 13.2px;
	font-family:  Arial, Helvetica, sans-serif;
	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;

<<<<<<< HEAD
	border-style: solid;
	border-top-width: 1;
	border-bottom-width: 20;
	border-left-width: 1;
	border-right-width: 1;
	border-radius: 2.5px;
}

.save {
	margin-right: 10px;
}
=======
	border-color: #fffcfc;
	border-top-width: 0.5px;
	border-bottom-width: 2px;
	border-left-width: 0.5px;
	border-right-width: 0.5px;
	border-radius: 2.5px;
}
>>>>>>> 7786468ffbf4dba2f07670ac4c921f5e6fafaac2
