
body {
	height: 100vh;
	width: 100vw;
	background-color:#808080;
}

.wrapper {
	height: 500px;
	width: 400px;

	margin: 0 auto;
	padding: 25px;

	background-color: white;
	font-family: sans-serif;
}

.needed_funds {
	height: 65px;
	
	background-color: #474748;
	border-radius: 5px;
	
	color:white;
	font-size: 115%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress_bar {
	height: 15px;

	margin-top: 20px;
	background-color: rgb(242, 242, 242);

	border-width: 1px;
	border-bottom-width: 0px;
	border-style: solid;
	border-color: #c5c5c5;
}

.fill_progress_bar {
	height: 15px;
	width: 75%;

	background-color: #ed6139;
}

.main_element {
	padding: 30px;

	border-width: 1.5px;
	border-style: solid;
	border-color: #c5c5c5;

	line-height: 25px;
	color:rgb(104, 104, 104);
}

.text_time_remaining {
	color: #ed6139;
	font-weight: 600;
}

.fund_description {
	margin-top: 20px;
	margin-bottom: 20px;
}

.text_number_participants {
	font-weight: 600;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.money_input {
	width: 35%;
}

.donate {
	width: 35%;
	height: inherit;

	border-style: solid;
	border-width: 0px;
	border-bottom-width: 2px;
	border-color: #009e18;
	border-radius: 2.5px;
	
	background-color: #02b51c;
	color: white;
}

.save {
	height: inherit;
	
	margin-right: 10px;
	
	border-width: 2px;
	border-style: solid;
	border-color: grey;
	border-radius: 2.5px;
}
